<section id="contact" class="contact" v-cloak>
	<div class="container">
		<div class="row">
			<div class="col u-white u-text-center">
				<h2 class="h2 u-cinzel"><span class="u-gold">Have any questions?</span> <span class="u-white">Let us know!</span></h2>
				<p class="contact__item"><i class="fas fa-map-marker-alt"></i> {{ contact.address }}</p>
				<p class="contact__item"><i class="fas fa-envelope"></i> {{ contact.email }}</p>
				<p class="contact__item"><i class="fas fa-phone"></i> {{ contact.phone }}</p>

				<form id="contact-form" @submit="sendEmail" method="POST">
					<div class="container">
						<div class="row">
							<div class="col">
								<p class="contact__confirmation" v-if="contactConfirmation != ''">${contactConfirmation}</p>
								<p class="contact__error" v-if="contactError != ''">${contactError}</p>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-4">
								<label for="contact-name"><span class="sr-only">Name</span>
									<input id="contact-name" v-model="contactName" name="from_name" placeholder="Your name" required />
								</label>
							</div>

							<div class="col-lg-4">
								<label for="contact-email"><span class="sr-only">Email</span>
									<input id="contact-email" v-model="contactEmail" name="reply_to" type="email" placeholder="Your email" required />
								</label>
							</div>

							<div class="col-lg-4">
								<label for="contact-subject"><span class="sr-only">Subject</span>
									<input id="contact-subject" v-model="contactSubject" name="subject" placeholder="Your subject" required />
								</label>
							</div>

							<div class="col">
								<label for="contact-message"><span class="sr-only">Message</span>
									<textarea id="contact-message" v-model="contactMessage" name="message_html" placeholder="Your message" required></textarea>
								</label>

								<button type="submit" class="btn">Send your message</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
