<section id="hero" class="hero">

	<h1 class="sr-only">{{ title }}</h1>

	<button @click="changeSlide(heroCurrentSlide - 1)" class="hero__nav-item" title="Previous"><i class="fas fa-chevron-left"></i></button>
	<button @click="changeSlide(heroCurrentSlide + 1)" class="hero__nav-item" title="Next"><i class="fas fa-chevron-right"></i></button>

	{% for item in slideshow %}
		<transition-group :name="heroSlideDirection">
			<div :key="{{ loop.index }}" v-if="heroCurrentSlide == {{ loop.index }}" class="hero__slide">
				<div class="hero__slide-image">
					<img src="" data-src="{{ item.image }}" alt="Slide {{ loop.index }}" />
				</div>

				<div class="hero__slide-content u-text-center">
					{% if item.contentType == 'image' %}
						<img src="{{ item.content }}" alt="{{ item.title }}" />
					{% endif %}

					{% if item.contentType == 'text' %}
						<span class="h1 u-white">{{ item.content }}</span>
					{% endif %}
				</div>
			</div>
		</transition-group>
	{% endfor %}
</section>
