<section id="artists" class="tattoo">
	<div class="container">
		<div class="row">
			<div class="col u-text-center"><h2 class="h2 u-white">Artists</h2></div>
		</div>


		<transition-group class="row" name="fade">
			<div v-if="tattooAlbums.length > 0 && staggerTattooAlbums > index" v-for="(item, index) in tattooAlbums" :key="index" class="tattoo__item u-text-center col-md-4 col-lg-3">
				<div class="tattoo__item-image" @click="openTattooAlbum(index)">
					<img :src="item.cover_photo.source" :alt="item.name" />
				</div>

				<div class="tattoo__item-title">
					<h3 class="h3 u-white">${item.name}</h3>
					<p><a :href="item.instagram" target="_blank" title="Instagram"><i class="fab fa-instagram"></i> Instagram</a></p>
				</div>

				<div @click="closeTattooAlbum" v-if="tattooOverlay === true && activeTattooAlbum === index" class="tattoo__overlay">
					<button class="tattoo__overlay-nav tattoo__overlay-nav--close" @click.stop="closeTattooAlbum"><i class="fas fa-times"></i></button>
					<button class="tattoo__overlay-nav tattoo__overlay-nav--prev" v-if="activeTattooPicture - 1 >= 0" @click.stop="changeTattooPicture(activeTattooPicture - 1)"><i class="fas fa-chevron-left"></i></button>
					<button class="tattoo__overlay-nav tattoo__overlay-nav--next" v-if="activeTattooPicture + 1 < item.photos.data.length" @click.stop="changeTattooPicture(activeTattooPicture + 1)"><i class="fas fa-chevron-right"></i></button>

					<div v-if="activeTattooPicture === i" v-for="(picture, i) in item.photos.data" :key="i" class="tattoo__overlay-item u-text-center">
						<div class="tattoo__overlay-item-image">
							<img :src="picture.source" :alt="'Picutre' + i" />
						</div>
					</div>
				</div>
			</div>
		</transition-group>

	</div>
</section>
